* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    font-size: 18px;
}

.team__item:not(:nth-last-of-type(-n+4)) {
    margin-bottom: 80px;
    
}