* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

html {
    font-size: 18px;
}

.team__item:not(:nth-last-of-type(-n+4)) {
    margin-bottom: 80px;
    
}


.our-team__item {
    max-width: 220px;
    text-align: center;
}

@media (min-width: 768px) {
    .our-team__list {
        max-width: 560px;
    }
}

@media (min-width: 992px) {
    .our-team__list {
        max-width: 960px;


        
    }
}